{% extends "base.html" %}

{% block content %}
<h1 class="mt-4 mb-4 text-center">Редактировать профиль</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class="form-control") }}
                    </div>

                    <div class="text-center">
                        {{ form.submit(class="btn btn-purple btn-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}